
/*-------start responsive------*/
@media (min-width: 992px) and (max-width: 1199px){
    .nest img {
        top: 314px;
        left: 106px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .nest img {
        top: 315px;
        left: 85px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .nest img {
        top: 308px;
        left: 64px;
    }
}

@media (max-width: 575.98px){
    #psedoue {
        width: 100%;
        margin: 0px 25%;
    }
    .nest img {
        height: 80px;
        width: 80px;
        top: 317px;
        left: 106px;
    }
}
@media(min-width:320px) and(max-width:485){
    .nest img {
        left: 76px;
    }
}
@media(max-width:321px){
    .nest img {
        left: 69px;
    }
}
@media (max-width: 320px){
    #psedoue {
        width: 183%;
        margin: 0px 5%;
    }
}

/*--------start responsive-------*/